{% extends 'base.html' %}

{% block content %}

<h2>Reports</h2>

<div class="row">

<div class="col-md-3">

<div class="card dashboard-card">

<div class="card-body">

<h1>{{total_orders}}</h1>

Total Orders

</div>

</div>

</div>

<div class="col-md-3">

<div class="card dashboard-card">

<div class="card-body">

<h1>{{delivered}}</h1>

Delivered

</div>

</div>

</div>

<div class="col-md-3">

<div class="card dashboard-card">

<div class="card-body">

<h1>{{dispatched}}</h1>

Dispatched

</div>

</div>

</div>

<div class="col-md-3">

<div class="card dashboard-card">

<div class="card-body">

<h1>{{pending}}</h1>

Pending

</div>

</div>

</div>

</div>

{% endblock %}